<div id="header">
    <!--<nav>
        <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
        {% if site.show_downloads %}
        <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
        <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
        <li class="title">DOWNLOADS</li>
        {% endif %}

        <a href="{{ site.baseurl }}/">Blog</a>
        <a class="navinfo" href="{{ site.baseurl }}/about">About</a>
        <a class="navinfo" href="https://github.com/heartsuit">GitHub</a>
        <a class="navinfo" href="{{ site.baseurl }}/index">Projects</a>
        <a class="navinfo" href="{{ site.baseurl }}/resume.pdf" target="_blank">Resume</a>
    </nav>-->

    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#target-menu">
                <!--<span class="sr-only">qieh</span>-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
            <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
            <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
            <li class="title">DOWNLOADS</li>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse" id="target-menu">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ site.baseurl }}/">Blog</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li>
                <!--<li><a href="https://github.com/heartsuit">GitHub</a></li>
                <li><a href="{{ site.baseurl }}/index">Projects</a></li>-->
                <!--<li><a href="#" target="_blank">Resume</a></li>-->

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resume<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl }}/resume_ch.pdf" target="_blank">中文</a></li>
                        <li><a href="{{ site.baseurl }}/resume_en.pdf" target="_blank">English</a></li>
                    </ul>
                </li>
            </ul>
        </div>
</div>
</nav>
</div>
<!-- end header -->