.anchorBlog {
    clear:both;
    line-height: 180%;
}

.anchorBlog p {
    font-size: 18px;
    color: #15a230;
    margin-bottom: 0.3em;
}

.anchorBlog .anchorContent {
    padding: 5px 0px;
}

.anchorBlog li {
    list-style:none;
    text-indent: 20px;
    font-size: 14px;
}

#anchorContentToggle {
    font-size: 13px;
    font-weight: normal;
    color: black;
    display: inline-block;
    line-height: 20px;
    background: #FFCC00;
    border-radius: 2px;
    font-style: normal;
    padding: 1px 8px;
    margin-right: 10px;
}

.anchorBlog a {
    text-decoration: none;
}

.anchorBlog a:hover {
    color: #5cc26f;
    text-decoration: underline;
}