---
---

@import "jekyll-theme-midnight";

// siteHeader
#siteHeader #target-menu,.navbar-header {
	background: url(../images/nav-bg.gif);
}

#siteHeader {
	height: 52px;
}

// #header #target-menu li a {
// 	font-size: 18px;
// 	font-weight: bold;
// 	color: #FFF;
// 	margin-left: 15px;
// 	border: none;
// 	background: transparent;
// 	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px transparent; 
// }

#siteHeader #target-menu li a:hover {
	color: #FFCC00;
	border: none;
	background: #080808;
	box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7); 
}

#siteHeader #target-menu .dropdown .dropdown-menu {
	background: url(../images/nav-bg.gif);
}

#siteHeader #target-menu .dropdown .dropdown-menu a {
	color: #FFF;
	font-size: 15px;
	font-weight: normal;
}

#siteHeader #target-menu .dropdown .dropdown-menu a:hover {
	color: #FFCC00;
	font-weight: bold;
}

#title #time_elapsed{
	font-size: 12px;
	text-align: center;
}
// post list
body {
		font-size: 16px;
		color: #D9F1F1;
		opacity: 0.9;
		height: 100%;
		width: 100%;
		background: #252525 url('https://github.com/heartsuit/heartsuit.github.io/raw/master/pictures/background.jpg') no-repeat;
		background-size: cover;
}

.wrapper {
	margin-top: -10px;
	background: #252525;
}

.container {
	max-width: 710px;
}
.blogs {
	max-width: 710px;
	font-size: 16px;
}
.blogs h2 {
	margin-left: 20px;
}
.blogs .tagEnd {
	font-size: 11px;
	color: #999;
}

.postInfo .info.left {
	float: left;
}
.postInfo .info.right {
	float: right;
}
.postInfo .info {
	font-size: 12px;
	font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: #40CFFF;
	margin-top: 5px;
}

// .posts li{
// 	display:block;
// 	width:680px;
// }

.posts li a:hover {
	color: #5cc26f;
}

// content
.wrapper {
	max-width: 750px;
}
section {
	max-width: 750px;
	margin-top: 0px;
}
section h3 {
	font-size: 24px;	
	text-shadow: 2px 2px 4px #93A1A1;
}
// section li {
// 	font-size: 17px;
// 	color: #fff;
// }
.highlighter-rouge{
	background: #282C34;
	font-size: 14px;	
	transition: all 1s;
}
.highlighter-rouge:hover{
	background: #CCC;
	color: black;	
}
code {font-family:Menlo,Consolas}
.highlight .err {
	color: #A6E22A;
	background-color: #272822;
}
.highlight .nt {
	color: #C678BD;
}

blockquote {
	padding:30px;
	margin-bottom: 1em;
	background: #191919;
}
blockquote p{
	color: #999;
	font-size: 18px;
	font-style: normal;
}
strong { 
	color: #CCC;	
}

// footer 
#busuanzi_container_site_uv,#busuanzi_container_site_pv,#busuanzi_container_page_pv {
	color: #888;
}
#busuanzi_value_site_uv,#busuanzi_value_site_pv,#busuanzi_value_page_pv{
	color: #EEE;
}
.footer{
	font-size: 12px;
	text-align: center;
}
.footer .footer-entry {
	margin: auto;
}
.footer .footer-entry a {
	color:#4094C7;
}
.footer .footer-entry a:hover{
	color:#40CFFF;
}
