<!doctype html>
<html>
{% include head.html %}

<body>
  {% include navigator.html %}

  <div class="wrapper">
    <section>
      {% include intro.html %}
      <!--Progress Bar-->
      <div class="progress-container"><span class="progress-bar" style="width: 95.7897%;"></span></div>
      <!-- TOC -->
      <h1>{{ page.title }}</h1>
      <div class="anchorBlog">
        <p>
          <b id="anchorContentToggle" title="收起" style="cursor:pointer;">目录[-]</b>
        </p>
        <div class="anchorContent" id="anchorContent"> </div>
      </div>
      {{ content }}

      <!--Back 2 Top-->
      <div class="go-top">
        <div class="arrow"></div>
        <div class="stick"></div>
      </div>
    </section>
    <!--Progress Bar-->
    <link rel="stylesheet" href="{{ '/progressbar/css/progressbar.css' | prepend: site.baseurl }}">
    <script src="{{ " /progressbar/js/progressbar.js " | prepend: site.baseurl }}"></script>

    <!-- Table of Content-->
    <link rel="stylesheet" href="{{ '/toc/css/toc.css' | prepend: site.baseurl }}">
    <script src="{{ " /toc/js/toc.js " | prepend: site.baseurl }}"></script>

    <!--Back 2 Top-->
    <link rel="stylesheet" href="{{ '/back2top/css/back2top.css' | prepend: site.baseurl }}">
    <script src="{{ " /back2top/js/back2top.js " | prepend: site.baseurl }}"></script>

    <!-- JiaThis Button BEGIN -->
    <!--<div class="jiathis_style_32x32">
      <a class="jiathis_button_qzone"></a>
      <a class="jiathis_button_tsina"></a>
      <a class="jiathis_button_tqq"></a>
      <a class="jiathis_button_weixin"></a>
      <a class="jiathis_button_renren"></a>
      <a href="http://www.jiathis.com/share?uid=2128569" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
      <a class="jiathis_counter_style"></a>
    </div>
    <script type="text/javascript">
    var jiathis_config = {data_track_clickback:'true'};
    </script>
    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=2128569" charset="utf-8"></script>-->
    <!-- JiaThis Button END -->

    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2128569"></script>
    <!-- UY END -->
    {% include footer.html %}
  </div>

  {% if site.google_analytics %}
  <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
  </script>
  {% endif %}
</body>

</html>